# Ignore all
*

# Unignore all with extensions
!*.*
!**/Dockerfile

# Unignore all dirs
!*/
!api

.idea
.idea/*.*
tools/god/god-arm64
**/.DS_Store
**/logs
!Makefile
test.go
test.sh
go.sum


# gitlab ci
.cache

# vim auto backup file
*~
!OWNERS